@charset "UTF-8";
/*Importaciones*/
/*restear los estilos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Insercion de fuentes locales */
@font-face {
  font-family: "grandeItalic";
  src: url("../fonts/Grande Italic.ttf"); }

@font-face {
  font-family: "garetbook";
  src: url("../fonts/Garet-Book.ttf"); }

@font-face {
  font-family: "garetheavy";
  src: url("../fonts/Garet-Heavy.ttf"); }

@font-face {
  font-family: "hs";
  src: url("../fonts/High Spirited.ttf"); }

/* Estilos para el INDEX */
/*Estilo para el header*/
/*ESTRUCTURA DESKTOP FIRTS*/
.header {
  top: 0;
  background-color: #e6ddde;
  z-index: 1;
  height: 7rem;
  border-bottom: 3px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .header__titulo .logoin {
    height: calc(7.2rem - 3px);
    width: auto;
    display: flex;
    justify-items: start; }
  .header__menu {
    margin-bottom: 1.2vh;
    margin-right: 0.3vw; }
  .header__menu ul {
    display: flex;
    justify-content: end; }
  .header__menu ul li {
    list-style-type: none; }
  .header__menu ul li a {
    margin: 0 1.2vw;
    text-align: center;
    text-decoration: underline bottom;
    color: grey;
    font-size: 2.2rem;
    font-family: garetbook; }

/*menu desplegable*/
#check,
.checkbtn {
  display: none; }

/* Estilos para el main */
.index__main {
  background-color: white;
  border-bottom: 3px solid grey;
  height: 180vh;
  display: flex;
  flex-direction: column; }
  .index__main .logo__main, .index__main .carousel {
    height: 75vh;
    display: flex;
    justify-content: center;
    background-color: #d5c5c7;
    margin: 10vh 0 10vh 0; }
  .index__main .logo__main img, .index__main .carousel img {
    height: 75vh;
    width: auto; }
  .index__main .carousel {
    margin: 0 0 10vh 0; }
  .index__main .imgmain {
    height: 75vh;
    width: 47vw; }

/*Estilo para el footer*/
.footer {
  background-color: #ad8f94;
  height: 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2vw;
  padding-top: 1.2vw; }
  .footer__titulo {
    font-family: garetbook; }
  .footer__titulo a,
  .footer a:link,
  .footer a:visited {
    text-decoration: none;
    color: black; }
  .footer__iconos {
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    width: 10vw; }
  .footer .footer__iconos figure img {
    height: 1.25rem;
    width: 1.25rem; }

/*_______________________________________________________________________________*/
/*Animaciones para el head*/
.animar:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

/*_______________________________________________________________________________*/
/* Queries para tablets- vertical */
@media screen and (max-width: 1024px) {
  /* Estilos para el header */
  .header {
    height: 6.5rem;
    justify-content: space-between;
    align-items: center; }
    .header__titulo .logoin {
      height: calc(6.5rem - 3px); }
    .header__menu {
      padding-top: 1rem;
      margin-right: 1vw; }
    .header ul {
      flex-direction: column;
      justify-content: space-evenly;
      left: 500vw;
      top: 5rem;
      width: 100vw;
      height: 40vh;
      text-align: center;
      transition: all .4s ease-in-out;
      background-color: #ad8f94;
      z-index: 1;
      position: fixed; }
    .header ul li a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 5vw;
      color: black; }
    .header .checkbtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 1vw; }
    .header img {
      height: 4rem; }
    .header #check:checked ~ ul {
      left: 0; }
  /* Estilos para el main */
  .index__main {
    height: 102vh; }
    .index__main .logo__main, .index__main .carousel {
      height: 45vh;
      margin: 4vh 0 4vh 0; }
    .index__main img {
      height: 45vh; }
    .index__main .carousel {
      height: 45vh;
      margin-bottom: 4vh; }
    .index__main .imgmain {
      height: 45vh; }
  /* Estilos para el footer */
  .footer {
    height: 7.7rem;
    align-items: center;
    padding-right: 0;
    padding-top: 1.5vw; }
  __titulo {
    font-size: 4vw; }
  __iconos {
    width: 4vw;
    margin-top: 0.5vh; }
  figure img {
    height: 4vh;
    width: auto;
    padding: 0 2vw 0 2vw; } }

/* Queries para celulares */
@media screen and (max-width: 650px) {
  /* Estilos para el header */
  .header {
    height: 5rem;
    justify-content: space-between;
    align-items: center; }
    .header .logoin {
      height: calc(5rem - 3px); }
    .header__menu {
      padding-top: 1rem;
      margin-right: 1vw; }
    .header .checkbtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 1vw; }
    .header img {
      height: 2.5rem; }
    .header #check:checked ~ ul {
      left: 0; }
    .header__menu ul {
      flex-direction: column;
      justify-content: space-evenly;
      left: 500vw;
      top: 5rem;
      width: 100vw;
      height: 40vh;
      text-align: center;
      transition: all .4s ease-in-out;
      background-color: #ad8f94;
      z-index: 1;
      position: fixed; }
    .header ul li a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 5vw;
      color: black; }
  /* Estilos para el main */
  .index__main {
    height: 79vh; }
    .index__main .logo__main, .index__main .carousel {
      height: 35vh;
      margin: 3vh 0 3vh 0; }
    .index__main img {
      height: 35vh; }
    .index__main .carousel {
      height: 35vh;
      margin-bottom: 3vh; }
    .index__main .imgmain {
      height: 35vh; }
  /* Estilos para el footer */
  .footer {
    height: 7.2rem;
    align-items: center;
    padding-right: 0;
    padding-top: 1vw; }
    .footer__titulo {
      font-size: 5.5vw; }
    .footer__iconos {
      width: 5vw; }
    .footer figure img {
      height: 5vw;
      width: auto;
      padding: 0 2vw 0 2vw; } }

/*_______________________________________________________________________________*/
/* Estilos para la página HOME */
.h__main {
  grid-template-rows: 1fr 2.7fr; }

.h__main--figure figcaption {
  font-size: 7vw;
  margin: 0; }

.h__main--imagen {
  width: 100vw;
  border-radius: 0; }

.h__main--texto {
  width: 95vw; }

.h__main--texto h2 {
  font-size: 12.5vw; }

.h__main--texto p {
  font-size: 3vw; }

/* Estilos para el HOME */
.home {
  background-color: white; }

/* Estilos para el HOME MAIN */
.home__main {
  position: relative;
  top: 0;
  background-color: white;
  border-bottom: 3px solid grey;
  overflow: hidden; }

.h__main {
  position: relative;
  top: 0;
  left: 0;
  margin: 80px 0 20px 0;
  height: 450px;
  background-color: #cd9e9b;
  box-shadow: 1px 5px 25px #d5c5c7; }

.h__main--imagen {
  position: relative;
  top: 12.5px;
  left: 0;
  margin: 10px 50px;
  height: 400px;
  width: auto;
  border-radius: 5%; }

.h__main--texto {
  position: absolute;
  top: 150px;
  left: 800px;
  height: 800px;
  margin: 0 100px 0 0;
  border-radius: 5px;
  color: white; }

.h__main--texto h2 {
  font-family: hs;
  font-size: 57px; }

.h__main--texto h3 {
  font-family: hs;
  font-size: 57px; }

.h__main--texto h4 {
  font-family: hs;
  font-size: 57px; }

.h__main--texto p {
  text-align: justify;
  font-family: garetbook;
  font-size: 15px;
  line-height: 1.5; }

.debajo {
  font-family: hs;
  font-size: 27px;
  color: white;
  margin: 0 60px; }

/*____________________________________________________________________________________________________________*/
/* Estilos para el NOSOTRAS*/
.n__main {
  background-color: white;
  border-bottom: 3px solid grey;
  overflow: hidden;
  height: 200vh;
  display: flex; }
  .n__main .n__main--uno {
    display: flex;
    flex-direction: column;
    margin: 15vh 0 15vh 0;
    height: 170vh;
    background-color: #cd9e9b; }
  .n__main h1 {
    font-family: hs;
    font-size: 8rem;
    color: white;
    text-align: center;
    top: 0; }
  .n__main p {
    text-align: justify;
    font-family: garetbook;
    font-size: 1.6rem;
    line-height: 1.5;
    color: white; }
  .n__main figure {
    display: flex;
    justify-content: center; }
  .n__main .imgmain {
    height: 80vh;
    width: auto;
    border-radius: 5%;
    text-align: center; }

@media screen and (max-width: 1024px) {
  .n__main {
    height: 230vh; }
    .n__main .n__main--uno {
      height: 200vh; }
  .imgmain {
    height: auto; }
  p {
    font-size: 0.7rem;
    padding: 0 1vh 0 1vh; }
  h1 {
    font-size: 3rem; } }

@media screen and (max-width: 650px) {
  .n__main {
    height: 250vh;
    background-color: #cd9e9b; }
  .n__main--uno {
    height: 250vh;
    margin-top: 0; }
  .imgmain {
    height: 6rem; }
  p {
    font-size: 1vh;
    padding: 0 1vh 0 1vh; }
  h1 {
    font-size: 1vh;
    padding-top: 0; } }

/* Estilos para el PRODUCTO*/
.p__main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 3px solid grey;
  overflow: hidden;
  height: 200vh; }
  .p__main--dv {
    margin: 80px 0 20px 0;
    height: 200px;
    background-color: #cd9e9b;
    box-shadow: 1px 5px 25px #d5c5c7; }
  .p__main h1 {
    font-family: hs;
    font-size: 100px;
    top: 150px;
    margin: 0 100px 0 0;
    border-radius: 5px;
    color: white;
    text-align: center; }
  .p__main p {
    text-align: justify;
    font-family: garetbook;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    text-align: center; }
  .p__main .p__mv {
    margin: 80px 0 20px 0;
    height: 450px;
    background-color: grey;
    box-shadow: 1px 5px 25px #d5c5c7;
    text-align: center; }
  .p__main .video {
    top: 30px;
    left: 0;
    margin: 25px 70px;
    height: 400px;
    width: auto;
    text-align: right; }

@media screen and (max-width: 1024px) {
  .p__main {
    height: 170vh;
    background-color: grey; }
  .p__main--dv {
    height: 50vh; }
  .p__mv {
    margin-bottom: 0;
    box-shadow: none; } }

@media screen and (max-width: 650px) {
  .p__main {
    height: 200vh;
    background-color: grey; }
  .p__main--dv {
    height: 90vh; }
  .p__mv {
    margin-bottom: 0;
    box-shadow: none; } }

/* Estilos para el CONTACTO*/
.cmain {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-bottom: 3px solid white;
  overflow: hidden;
  height: 800px; }
  .cmain h1 {
    font-family: garetbook;
    font-size: 40px;
    top: 250px;
    margin: 25px 70px;
    border-radius: 5px;
    color: white;
    text-align: center; }
  .cmain .main__fa {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 10px; }
  .cmain .main__f {
    margin: 30px 0; }
  .cmain label,
  .cmain textarea,
  .cmain input {
    display: block;
    margin: 5px; }
  .cmain label {
    color: white;
    font-family: garetbook;
    font-size: 25px; }
  .cmain .main__input {
    height: 30px;
    width: 450px;
    color: #d5c5c7;
    font-family: garetheavy;
    font-size: 17px;
    font-weight: 700;
    padding: 5px; }
  .cmain .main__men {
    width: 450px;
    height: 100px;
    color: #d5c5c7;
    font-family: garetheavy;
    font-size: 15px;
    font-weight: 700;
    padding: 5px; }

/*----------------------------------------------------------------------------------------------------------------*/
