@charset "UTF-8";
/*Importaciones*/
/*restear los estilos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Insercion de fuentes locales */
@font-face {
  font-family: "grandeItalic";
  src: url("../fonts/Grande Italic.ttf"); }

@font-face {
  font-family: "garetbook";
  src: url("../fonts/Garet-Book.ttf"); }

@font-face {
  font-family: "garetheavy";
  src: url("../fonts/Garet-Heavy.ttf"); }

@font-face {
  font-family: "hs";
  src: url("../fonts/High Spirited.ttf"); }

/* Estilos para el INDEX */
/*Estilo para el header*/
/*ESTRUCTURA DESKTOP FIRTS*/
.header {
  top: 0;
  background-color: #e6ddde;
  z-index: 1;
  height: 7rem;
  border-bottom: 3px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .header__titulo .logoin {
    height: calc(7.2rem - 3px);
    width: auto;
    display: flex;
    justify-items: start; }
  .header__menu {
    margin-bottom: 1.2vh;
    margin-right: 0.3vw; }
  .header__menu ul {
    display: flex;
    justify-content: end; }
  .header__menu ul li {
    list-style-type: none; }
  .header__menu ul li a {
    margin: 0 1.2vw;
    text-align: center;
    text-decoration: underline bottom;
    color: grey;
    font-size: 2.2rem;
    font-family: garetbook; }

/*menu desplegable*/
#check,
.checkbtn {
  display: none; }

/* Estilos para el main */
.index__main {
  background-color: white;
  border-bottom: 3px solid grey;
  height: 180vh;
  display: flex;
  flex-direction: column; }
  .index__main .logo__main, .index__main .carousel {
    height: 75vh;
    display: flex;
    justify-content: center;
    background-color: #d5c5c7;
    margin: 10vh 0 10vh 0; }
    .index__main .logo__main img, .index__main .carousel img {
      height: 75vh;
      width: auto; }
  .index__main .carousel {
    margin: 0 0 10vh 0; }
    .index__main .carousel .imgmain {
      height: 75vh;
      width: 47vw; }

/*Estilo para el footer*/
.footer {
  background-color: #ad8f94;
  height: 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2vw;
  padding-top: 1.2vw; }
  .footer__titulo {
    font-family: garetbook; }
  .footer__titulo a,
  .footer a:link,
  .footer a:visited {
    text-decoration: none;
    color: black; }
  .footer__iconos {
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    width: 10vw; }
  .footer .footer__iconos figure img {
    height: 1.25rem;
    width: 1.25rem; }

/*_______________________________________________________________________________*/
/*Animaciones para el head*/
.animar:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

/*_______________________________________________________________________________*/
/* Queries para tablets- vertical */
@media screen and (max-width: 1024px) {
  /* Estilos para el header */
  .header {
    height: 6.5rem;
    justify-content: space-between;
    align-items: center; }
    .header__titulo .logoin {
      height: calc(6.5rem - 3px); }
    .header__menu {
      padding-top: 1rem;
      margin-right: 1vw; }
    .header ul {
      flex-direction: column;
      justify-content: space-evenly;
      left: 500vw;
      top: 5rem;
      width: 100vw;
      height: 40vh;
      text-align: center;
      transition: all .4s ease-in-out;
      background-color: #ad8f94;
      z-index: 1;
      position: fixed; }
    .header ul li a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 5vw;
      color: black; }
    .header .checkbtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 1vw; }
    .header img {
      height: 4rem; }
    .header #check:checked ~ ul {
      left: 0; }
  /* Estilos para el main */
  .index__main {
    height: 102vh; }
    .index__main .logo__main, .index__main .carousel {
      height: 45vh;
      margin: 4vh 0 4vh 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .index__main .logo__main img, .index__main .carousel img {
        height: 30vh;
        width: auto; }
    .index__main .carousel {
      height: 45vh;
      margin: 0; }
      .index__main .carousel .imgmain {
        height: 45vh;
        width: 90vw; }
  /* Estilos para el footer */
  .footer {
    height: 7.7rem;
    align-items: center;
    padding-right: 0;
    padding-top: 1.5vw; }
  __titulo {
    font-size: 4vw; }
  __iconos {
    width: 4vw;
    margin-top: 0.5vh; }
    __iconos figure a img {
      height: 4.5vh;
      width: auto;
      padding: 0 2.5vw; } }

/* Queries para celulares */
@media screen and (max-width: 650px) {
  /* Estilos para el header */
  .header {
    height: 5rem;
    justify-content: space-between;
    align-items: center; }
    .header .logoin {
      height: calc(5rem - 3px); }
    .header__menu {
      padding-top: 1rem;
      margin-right: 1vw; }
    .header .checkbtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 1vw; }
    .header img {
      height: 2.5rem; }
    .header #check:checked ~ ul {
      left: 0; }
    .header__menu ul {
      flex-direction: column;
      justify-content: space-evenly;
      left: 500vw;
      top: 5rem;
      width: 100vw;
      height: 40vh;
      text-align: center;
      transition: all .4s ease-in-out;
      background-color: #ad8f94;
      z-index: 1;
      position: fixed; }
    .header ul li a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 5vw;
      color: black; }
  /* Estilos para el main */
  .index__main {
    height: 79vh; }
    .index__main .logo__main, .index__main .carousel {
      height: 35vh;
      margin: 3vh 0 3vh 0; }
      .index__main .logo__main img, .index__main .carousel img {
        height: 60vw;
        width: auto; }
    .index__main .carousel {
      height: 35vh;
      margin-bottom: 3vh; }
      .index__main .carousel .imgmain {
        height: 35vh; }
  /* Estilos para el footer */
  .footer {
    height: 7.2rem;
    align-items: center;
    padding-right: 0;
    padding-top: 1vw; }
    .footer__titulo {
      font-size: 5.5vw; }
    .footer__iconos {
      width: 50vw; }
      .footer__iconos figure a img {
        height: 200px;
        width: 200px;
        margin: 0 2vw; } }

/*_______________________________________________________________________________*/
/*Estilos para la página HOME*/
/* Estilos para la página HOME */
.home__main {
  background-color: ligthen(#cd9e9b, 1%);
  border-bottom: 3px solid grey;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .home__main div {
    display: grid;
    grid-template-areas: "img img txt";
    background-color: #cd9e9b;
    margin-bottom: 3vh; }
    .home__main div figure {
      grid-area: img;
      display: flex;
      flex-direction: column;
      margin: 2vh 2vw 0 2vw; }
      .home__main div figure img {
        align-self: center;
        height: 60vh;
        width: 52vw;
        margin-bottom: 1vh;
        border-radius: 3%; }
      .home__main div figure figcaption {
        align-self: center;
        color: white;
        font-family: hs;
        font-size: 5vh; }
    .home__main div div {
      grid-area: txt;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      padding-right: 1vw; }
      .home__main div div h2 {
        margin-top: 5vh;
        font-family: hs;
        font-size: 8vh; }
      .home__main div div p {
        text-align: justify;
        font-family: garetbook;
        font-size: 3vh;
        line-height: 1.5; }

@media screen and (max-width: 1024px) {
  .home__main div {
    grid-template-areas: "img" "txt"; }
    .home__main div figure {
      margin: 0; }
      .home__main div figure img {
        height: auto;
        width: 100vw;
        padding: 0;
        border-radius: 0; }
      .home__main div figure figcaption {
        font-size: 4vh; }
    .home__main div div {
      padding: 0 2vw; } }

@media screen and (max-width: 650px) {
  .home__main div figure figcaption {
    font-size: 4vh; }
  .home__main div div h2 {
    font-size: 13vw; }
  .home__main div div p {
    font-size: 2.5vh;
    line-height: 1.5; } }

/*_______________________________________________________________________________*/
/* Estilos para el NOSOTRAS*/
/* Estilos para el NOSOTRAS*/
.n__main {
  background-color: ligthen(#cd9e9b, 1%);
  border-bottom: 3px solid grey;
  overflow: hidden;
  display: flex; }
  .n__main div {
    display: grid;
    grid-template-areas: "img txt txt";
    background-color: #cd9e9b; }
    .n__main div div {
      grid-area: txt;
      display: flex;
      flex-direction: column; }
      .n__main div div h1 {
        font-family: hs;
        font-size: 8rem;
        color: white;
        text-align: center;
        top: 0; }
      .n__main div div p {
        text-align: justify;
        font-family: garetbook;
        font-size: 1.6rem;
        line-height: 1.5;
        color: white;
        padding: 3vw; }
    .n__main div figure {
      grid-area: img;
      justify-content: center; }
      .n__main div figure img {
        height: 130vh;
        width: auto;
        border-radius: 3%;
        padding: 43vh 0 0 3vh; }

@media screen and (max-width: 1024px) {
  .n__main div {
    display: flex;
    flex-direction: column; }
    .n__main div div h1 {
      font-size: 6rem; }
    .n__main div div p {
      font-size: 1.2rem; }
    .n__main div figure {
      margin-bottom: 3%; }
      .n__main div figure img {
        height: auto;
        width: 100%;
        border-radius: 0;
        padding: 0; } }

@media screen and (max-width: 650px) {
  .n__main div div h1 {
    font-size: 10vh; }
  .n__main div div p {
    font-size: 1rem; }
  .n__main div figure {
    margin: 0; }
    .n__main div figure img {
      height: auto;
      width: 100%;
      border-radius: 0;
      padding: 0; } }

/*_______________________________________________________________________________*/
/* Estilos para el PRODUCTO*/
/* Estilos para PRODUCTOS*/
.p__main {
  display: flex;
  flex-direction: column;
  border: 3px solid grey; }
  .p__main .p__videos {
    order: 100;
    background: #f8e2de;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1vh; }
    .p__main .p__videos div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .p__main .p__videos div h2 {
        font-family: garetbook;
        color: grey;
        font-size: 2.7vw;
        margin-top: 0.5rem; }
      .p__main .p__videos div div iframe {
        height: 20vw;
        width: 30vw; }
  .p__main h1 {
    font-family: hs;
    color: grey;
    text-align: center;
    font-size: 8vw; }
  .p__main .p__img {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem; }
    .p__main .p__img div {
      margin: 1em;
      padding: 2em;
      width: 30%;
      border-radius: 2%;
      box-shadow: 5px 10px 5px #cd9e9b; }
      .p__main .p__img div img {
        width: 25vw;
        height: 20vw; }
      .p__main .p__img div h4 {
        font-family: garetbook;
        color: grey;
        text-align: center;
        padding-top: 0.5rem; }

@media screen and (max-width: 1024px) {
  .p__main .p__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
    .p__main .p__img div {
      width: 30vw;
      margin-left: 8vw; }
      .p__main .p__img div img {
        width: 25vw;
        height: 20vw; } }

@media screen and (max-width: 650px) {
  .p__main .p__videos {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .p__main .p__videos div h2 {
      font-size: 6vw; }
    .p__main .p__videos div div iframe {
      height: 40vw;
      width: 60vw; }
  .p__main h1 {
    font-size: 25vw; }
  .p__main .p__img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }
    .p__main .p__img div {
      width: 90vw;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .p__main .p__img div img {
        width: 60vw;
        height: 40vw; } }

/*_______________________________________________________________________________*/
/* Estilos para el CONTACTO*/
/* Estilos para el CONTACTO*/
.cmain {
  display: flex;
  flex-direction: column;
  background-color: grey;
  overflow: hidden; }
  .cmain h1 {
    font-family: garetbook;
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-top: 3vw; }
  .cmain .main__fa {
    width: 500px;
    margin: 0 auto;
    padding: 10px; }
    .cmain .main__fa div {
      margin: 30px 0; }
      .cmain .main__fa div label,
      .cmain .main__fa div textarea,
      .cmain .main__fa div input {
        display: block;
        margin: 5px; }
      .cmain .main__fa div label {
        color: white;
        font-family: garetbook;
        font-size: 2vw; }
      .cmain .main__fa div .main__input {
        height: 30px;
        width: 450px;
        color: grey;
        font-family: garetbook;
        font-size: 17px;
        font-weight: 700;
        padding: 5px; }
      .cmain .main__fa div .main__men {
        width: 450px;
        height: 100px;
        color: grey;
        font-family: garetbook;
        font-size: 15px;
        font-weight: 700;
        padding: 5px; }

@media screen and (max-width: 1024px) {
  .main__fa {
    height: calc(100vh - 19.4rem); } }

@media screen and (max-width: 650px) {
  .cmain h1 {
    text-align: center; }
  .cmain .main__fa div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cmain .main__fa div .main__input {
      width: 300px; }
    .cmain .main__fa div .main__men {
      width: 300px; } }

/*----------------------------------------------------------------------------------------------------------------*/
