/*Importaciones*/
@import "base/variables";
@import "base/mixins";

@function color($color-name) {
    @return map-get($colors, $color-name)
}

/*restear los estilos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Insercion de fuentes locales */

@font-face {
    font-family: "grandeItalic";
    src: url("../fonts/Grande\ Italic.ttf");
}

@font-face {
    font-family: "garetbook";
    src: url("../fonts/Garet-Book.ttf");
}

@font-face {
    font-family: "garetheavy";
    src: url("../fonts/Garet-Heavy.ttf");
}

@font-face {
    font-family: "hs";
    src: url("../fonts/High\ Spirited.ttf");
}

/* Estilos para el INDEX */
/*Estilo para el header*/
/*ESTRUCTURA DESKTOP FIRTS*/

.header {
    top: 0;
    background-color: #e6ddde;
    z-index: 1;
    height: 7rem;
    border-bottom: $border;
    @include flex;

    &__titulo .logoin {
        height: calc(7.2rem - 3px);
        width: auto;
        display: flex;
        justify-items: start;
    }

    &__menu {
        margin-bottom: 1.2vh;
        margin-right: 0.3vw;
    }

    &__menu ul {
        display: flex;
        justify-content: end;
    }

    &__menu ul li {
        list-style-type: none;
    }

    &__menu ul li a {
        margin: 0 1.2vw;
        text-align: center;
        text-decoration: underline bottom;
        color: $color-complemento;
        font-size: 2.2rem;
        font-family: garetbook;
    }
}

/*menu desplegable*/
#check,
.checkbtn {
    display: none;
}

/* Estilos para el main */

.index__main {
    background-color: $color-fondo;
    border-bottom: $border;
    height: 180vh;
    @include flexmain;

    .logo__main {
        height: 75vh;
        display: flex;
        justify-content: center;
        background-color: $color-logo;
        margin: 10vh 0 10vh 0;

        img {
            height: 75vh;
            width: auto;
        }
    }

    .carousel {
        @extend.logo__main;
        margin: 0 0 10vh 0;

        .imgmain {
            height: 75vh;
            width: 47vw;
        }
    }

}

/*Estilo para el footer*/

.footer {
    background-color: $color-footer;
    height: 7.2rem;
    @include flexfo;
    padding-right: 2vw;
    padding-top: 1.2vw;

    &__titulo {
        font-family: garetbook;
    }

    &__titulo a,
    a:link,
    a:visited {
        text-decoration: none;
        color: black;
    }

    &__iconos {
        margin-top: 1vh;
        display: flex;
        justify-content: space-evenly;
        width: 10vw;
    }

    .footer__iconos figure img {
        height: 1.25rem;
        width: 1.25rem;
    }
}

/*_______________________________________________________________________________*/

/*Animaciones para el head*/
.animar:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/*_______________________________________________________________________________*/

/* Queries para tablets- vertical */
@media screen and (max-width:1024px) {

    /* Estilos para el header */
    .header {
        height: 6.5rem;
        justify-content: space-between;
        align-items: center;

        &__titulo .logoin {
            height: calc(6.5rem - 3px);
        }

        &__menu {
            padding-top: 1rem;
            margin-right: 1vw;
        }

        ul {
            flex-direction: column;
            justify-content: space-evenly;
            left: 500vw;
            top: 5rem;
            width: 100vw;
            height: 40vh;
            text-align: center;
            transition: all .4s ease-in-out;
            background-color: $color-footer;
            z-index: 1;
            position: fixed
        }

        ul li a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 5vw;
            color: black;
        }

        .checkbtn {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 1vw;
        }

        img {
            height: 4rem;
        }

        #check:checked~ul {
            left: 0;
        }

    }

    /* Estilos para el main */
    .index__main {
        height: 102vh;

        .logo__main {
            height: 45vh;
            margin: 4vh 0 4vh 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 30vh;
                width: auto;
            }
        }

        .carousel {
            height: 45vh;
            margin: 0;

            .imgmain {
                height: 45vh;
                width: 90vw;
            }
        }
    }


    /* Estilos para el footer */
    .footer {
        height: 7.7rem;
        align-items: center;
        padding-right: 0;
        padding-top: 1.5vw;
    }

    &__titulo {
        font-size: 4vw;
    }

    &__iconos {
        width: 4vw;
        margin-top: 0.5vh;

        figure a img {
            height: 4.5vh;
            width: auto;
            padding: 0 2.5vw;
        }
    }
}

/* Queries para celulares */

@media screen and (max-width:650px) {

    /* Estilos para el header */
    .header {
        height: 5rem;
        justify-content: space-between;
        align-items: center;

        .logoin {
            height: calc(5rem - 3px);
        }

        &__menu {
            padding-top: 1rem;
            margin-right: 1vw;
        }

        .checkbtn {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 1vw;
        }

        img {
            height: 2.5rem;
        }

        #check:checked~ul {
            left: 0;
        }

        &__menu ul {
            flex-direction: column;
            justify-content: space-evenly;
            left: 500vw;
            top: 5rem;
            width: 100vw;
            height: 40vh;
            text-align: center;
            transition: all .4s ease-in-out;
            background-color: $color-footer;
            z-index: 1;
            position: fixed
        }

        ul li a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 5vw;
            color: black;
        }
    }

    /* Estilos para el main */
    .index__main {
        height: 79vh;

        .logo__main {
            height: 35vh;
            margin: 3vh 0 3vh 0;


            img {
                height: 60vw;
                width: auto;
            }
        }

        .carousel {
            height: 35vh;
            margin-bottom: 3vh;

            .imgmain {
                height: 35vh;
            }
        }
    }

    /* Estilos para el footer */
    .footer {
        height: 7.2rem;
        align-items: center;
        padding-right: 0;
        padding-top: 1vw;

        &__titulo {
            font-size: 5.5vw;
        }

        &__iconos {
            width: 50vw;

            figure a img {
                height: 200px;
                width: 200px;
                margin: 0 2vw;
            }
        }
    }
}

/*_______________________________________________________________________________*/
/*Estilos para la página HOME*/

@import "componentes/home";

/*_______________________________________________________________________________*/

/* Estilos para el NOSOTRAS*/

@import "componentes/nosotras";

/*_______________________________________________________________________________*/

/* Estilos para el PRODUCTO*/

@import "componentes/productos";

/*_______________________________________________________________________________*/

/* Estilos para el CONTACTO*/

@import "componentes/contacto";

/*----------------------------------------------------------------------------------------------------------------*/