/*Importaciones*/
@import "base/variables";
@import "base/mixins";

@function color($color-name){
    @return map-get($colors, $color-name)
}

/*restear los estilos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Insercion de fuentes locales */

@font-face {
    font-family: "grandeItalic";
    src: url("../fonts/Grande\ Italic.ttf");
}

@font-face {
    font-family: "garetbook";
    src: url("../fonts/Garet-Book.ttf");
}

@font-face {
    font-family: "garetheavy";
    src: url("../fonts/Garet-Heavy.ttf");
}

@font-face {
    font-family: "hs";
    src: url("../fonts/High\ Spirited.ttf");
}

/* Estilos para el INDEX */
/*Estilo para el header*/
/*ESTRUCTURA DESKTOP FIRTS*/

.header {
    top: 0;
    background-color: #e6ddde;
    z-index: 1;
    height: 7rem;
    border-bottom: $border;
    @include flex;

    &__titulo .logoin {
        height: calc(7.2rem - 3px);
        width: auto;
        display: flex;
        justify-items: start;
    }

    &__menu {
        margin-bottom: 1.2vh;
        margin-right: 0.3vw;
    }

    &__menu ul {
        display: flex;
        justify-content: end;
    }

    &__menu ul li {
        list-style-type: none;
    }

    &__menu ul li a {
        margin: 0 1.2vw;
        text-align: center;
        text-decoration: underline bottom;
        color: $color-complemento;
        font-size: 2.2rem;
        font-family: garetbook;
    }
}

/*menu desplegable*/
#check,
.checkbtn {
    display: none;
}

/* Estilos para el main */

.index__main {
    background-color: $color-fondo;
    border-bottom: $border;
    height: 180vh;
    @include flexmain;

    .logo__main {
        height: 75vh;
        display: flex;
        justify-content: center;
        background-color: $color-logo;
        margin: 10vh 0 10vh 0;
    }

    .logo__main img {
        height: 75vh;
        width: auto;
    }

    .carousel {
        @extend.logo__main;
        margin: 0 0 10vh 0;
    }

    .imgmain {
        height: 75vh;
        width: 47vw;
    }
}

/*Estilo para el footer*/

.footer {
    background-color: $color-footer;
    height: 7.2rem;
    @include flexfo;
    padding-right: 2vw;
    padding-top: 1.2vw;

    &__titulo {
        font-family: garetbook;
    }

    &__titulo a,
    a:link,
    a:visited {
        text-decoration: none;
        color: black;
    }

    &__iconos {
        margin-top: 1vh;
        display: flex;
        justify-content: space-evenly;
        width: 10vw;
    }

    .footer__iconos figure img {
        height: 1.25rem;
        width: 1.25rem;
    }
}

/*_______________________________________________________________________________*/

/*Animaciones para el head*/
.animar:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/*_______________________________________________________________________________*/

/* Queries para tablets- vertical */
@media screen and (max-width:1024px) {

    /* Estilos para el header */
    .header {
        height: 6.5rem;
        justify-content: space-between;
        align-items: center;

        &__titulo .logoin {
            height: calc(6.5rem - 3px);
        }

        &__menu {
            padding-top: 1rem;
            margin-right: 1vw;
        }

        ul {
            flex-direction: column;
            justify-content: space-evenly;
            left: 500vw;
            top: 5rem;
            width: 100vw;
            height: 40vh;
            text-align: center;
            transition: all .4s ease-in-out;
            background-color: $color-footer;
            z-index: 1;
            position: fixed
        }

        ul li a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 5vw;
            color: black;
        }

        .checkbtn {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 1vw;
        }

        img {
            height: 4rem;
        }

        #check:checked~ul {
            left: 0;
        }

    }

    /* Estilos para el main */
    .index__main {
        height: 102vh;

        .logo__main {
            height: 45vh;
            margin: 4vh 0 4vh 0;
        }

            img {
                height: 45vh;
            }

        .carousel {
            height: 45vh;
            margin-bottom: 4vh;
        }

        .imgmain {
            height: 45vh;
        }
    }


    /* Estilos para el footer */
    .footer {
        height: 7.7rem;
        align-items: center;
        padding-right: 0;
        padding-top: 1.5vw;
    }

    &__titulo {
        font-size: 4vw;
    }

    &__iconos {
        width: 4vw;
        margin-top: 0.5vh
    }

        figure img {
            height: 4vh;
            width: auto;
            padding: 0 2vw 0 2vw
        }
}

/* Queries para celulares */

@media screen and (max-width:650px) {

    /* Estilos para el header */
    .header {
        height: 5rem;
        justify-content: space-between;
        align-items: center;

        .logoin {
            height: calc(5rem - 3px);
        }

        &__menu {
            padding-top: 1rem;
            margin-right: 1vw;
        }

        .checkbtn {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 1vw;
        }

        img {
            height: 2.5rem;
        }

        #check:checked~ul {
            left: 0;
        }

        &__menu ul {
            flex-direction: column;
            justify-content: space-evenly;
            left: 500vw;
            top: 5rem;
            width: 100vw;
            height: 40vh;
            text-align: center;
            transition: all .4s ease-in-out;
            background-color: $color-footer;
            z-index: 1;
            position: fixed
        }

            ul li a {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 5vw;
                color: black;
            }
    }

    /* Estilos para el main */
    .index__main {
        height: 79vh;

        .logo__main {
            height: 35vh;
            margin: 3vh 0 3vh 0;
        }

            img {
                height: 35vh;
            }

        .carousel {
            height: 35vh;
            margin-bottom: 3vh;
        }

        .imgmain {
            height: 35vh;
        }
    }

    /* Estilos para el footer */
    .footer {
        height: 7.2rem;
        align-items: center;
        padding-right: 0;
        padding-top: 1vw;

        &__titulo {
            font-size: 5.5vw;
        }

        &__iconos {
            width: 5vw;
        }

            figure img {
                height: 5vw;
                width: auto;
                padding: 0 2vw 0 2vw
            }
    }
}

/*_______________________________________________________________________________*/

/* Estilos para la página HOME */

.home__main {
    background-color: color(caja-light);
    border-bottom: $border;
    @include flexmain;
    overflow: hidden;
}

.h__main {
    display: flex;
    flex-direction: row;
    margin: 80px 0 20px 0;
    height: 75vh;
    background-color: color(caja);
    box-shadow: 1px 5px 25px $color-logo;

    img {
        justify-content: flex-start;
        margin-left: 5%;
        margin-top: 3%;
        height: 60vh;
        width: 52vw;
        border-radius: 5%;
        figcaption{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-end;
            font-family: hs;
            font-size: 5vh;
            color: $color-fondo;
            margin-left: 20%;
        } 
    }

    &--texto{
        justify-content: end;
        height: 60vh;
        color: $color-fondo;
        margin-right: 5%;
        width: 60vw;
        align-items: center;

        h2, h3, h4{
            font-family: hs;
            font-size: 8vh;
        }
        p{
            text-align: justify;
            font-family: garetbook;
            font-size: 3vh;
            line-height: 1.5;
        }
    }
}

@media screen and (max-width:1024px){
   .h__main{
    flex-direction: column;
    justify-content: center;
    height: auto;
   }
}
@media screen and (max-width:650px) {
    .h__main{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    img{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .h__main--texto{
        justify-content: center;
    }
}


/*____________________________________________________________________________________________________________*/
/* Estilos para el NOSOTRAS*/
.n__main {
    background-color: $color-fondo;
    border-bottom: $border;
    overflow: hidden;
    height: 200vh;
    display: flex;

    .n__main--uno {
        @include flexmain;
        margin: 15vh 0 15vh 0;
        height: 170vh;
        background-color: rgb(205, 158, 155);
    }

    h1 {
        font-family: hs;
        font-size: 8rem;
        color: $color-fondo;
        text-align: center;
        top: 0;
    }

    p {
        text-align: justify;
        font-family: garetbook;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $color-fondo;
    }

    figure {
        display: flex;
        justify-content: center;
    }

    .imgmain {
        height: 80vh;
        width: auto;
        border-radius: 5%;
        text-align: center;
    }

}
@media screen and (max-width:1024px){
    .n__main{
        height: 230vh;
        .n__main--uno {
        height: 200vh;
        }
    }

    .imgmain {
        height: auto;
    }
    p{
        font-size: 0.7rem;
        padding: 0 1vh 0 1vh;
    }
    h1{
        font-size: 3rem;
    }
}
@media screen and (max-width:650px) {
    .n__main{
        height: 250vh;
        background-color: rgb(205, 158, 155);
    }
    .n__main--uno {
        height: 250vh;
        margin-top: 0;
        }

    .imgmain {
        height: 6rem;
    }
    p{
        font-size: 1vh;
        padding: 0 1vh 0 1vh;
    }
    h1{
        font-size: 1vh;
        padding-top: 0;
    }
}

/* Estilos para el PRODUCTO*/
.p__main {
    @include flexmain;
    background-color: $color-fondo;
    border-bottom: $border;
    overflow: hidden;
    height: 200vh;
    &--dv {
        margin: 80px 0 20px 0;
        height: 200px;
        background-color: rgb(205, 158, 155);
        box-shadow: 1px 5px 25px $color-logo;
    }
        h1{
            font-family: hs;
            font-size: 100px;
            top: 150px;
            margin: 0 100px 0 0;
            border-radius: 5px;
            color: $color-fondo;
            text-align: center;
        }
        p {
            text-align: justify;
            font-family: garetbook;
            font-size: 20px;
            line-height: 1.5;
            color: $color-fondo;
            text-align: center;
        }
    .p__mv {
        margin: 80px 0 20px 0;
        height: 450px;
        background-color: $color-complemento;
        box-shadow: 1px 5px 25px $color-logo;
        text-align: center;
    }
        .video {
            top: 30px;
            left: 0;
            margin: 25px 70px;
            height: 400px;
            width: auto;
            text-align: right
        }
}
@media screen and (max-width:1024px){
    .p__main{
        height: 170vh;
        background-color: $color-complemento;
    }
    .p__main--dv{
        height: 50vh;
    }
    .p__mv{
        margin-bottom: 0;
        box-shadow: none;
    }

}
@media screen and (max-width:650px) {
    .p__main{
        height: 200vh;
        background-color: $color-complemento;
    }
    .p__main--dv{
        height: 90vh;
    }
    
    .p__mv{
        margin-bottom: 0;
        box-shadow: none;
    }
}

/* Estilos para el CONTACTO*/

.cmain {
    @include flexmain;
    background-color: $color-complemento;
    border-bottom: 3px solid $color-fondo;
    overflow: hidden;
    height: 800px;
    h1 {
        font-family: garetbook;
        font-size: 40px;
        top: 250px;
        margin: 25px 70px;
        border-radius: 5px;
        color: $color-fondo;
        text-align: center;
    }
    .main__fa {
        width: 500px;
        height: 700px;
        margin: 0 auto;
        padding: 10px;
    }
    
    .main__f {
        margin: 30px 0;
    }
    
        label,
        textarea,
        input {
            display: block;
            margin: 5px;
        }
    
        label {
        color: $color-fondo;
        font-family: garetbook;
        font-size: 25px;
        }
    
    .main__input {
        height: 30px;
        width: 450px;
        color: $color-logo;
        font-family: garetheavy;
        font-size: 17px;
        font-weight: 700;
        padding: 5px;
    }
    
    .main__men {
        width: 450px;
        height: 100px;
        color: $color-logo;
        font-family: garetheavy;
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
    }
}

/*----------------------------------------------------------------------------------------------------------------*/